# This workflow will build a Java project with Ant
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-ant

name: Java CI

on: [push, pull_request,workflow_dispatch]
 
jobs:
  build:

    runs-on: ubuntu-latest
    env:
      luceeVersion: light-6.0.0.507-SNAPSHOT
    services:
      minio:
       image: fclairamb/minio-github-actions
       ports:
        - 9000:9000
    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 11
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'adopt'
    - name: Cache Maven packages
      uses: actions/cache@v3
      with:
        path: ~/.m2
        key: lucee-s3
        restore-keys: |
          ${{ runner.os }}-m2
          maven-cache
    - name: Cache Lucee files
      uses: actions/cache@v3
      with:
        path: _actions/lucee/script-runner/main/lucee-download-cache
        key: lucee-downloads-${{ env.luceeVersion }}
        restore-keys: |
          lucee-downloads
    - name: Build extension-s3 with Ant
      run: ant -noinput -verbose -buildfile build.xml
    - name: Upload Artifact
      uses: actions/upload-artifact@v3
      with:
        name: s3-lex
        path: dist/*.lex
    - name: Checkout Lucee
      uses: actions/checkout@v3
      with:
        repository: lucee/lucee
        path: lucee
    - name: Run Lucee Test Suite, labels="s3"
      uses: lucee/script-runner@main
      with:
        webroot: ${{ github.workspace }}/lucee/test
        execute: /bootstrap-tests.cfm
        luceeVersion: ${{ env.luceeVersion }}
        extensionDir: ${{ github.workspace }}/dist
      env:
        testLabels: s3
        testAdditional: ${{ github.workspace }}/tests
        S3_ACCESS_KEY_ID: ${{ secrets.S3_ACCESS_ID_TEST }}
        S3_SECRET_KEY: ${{ secrets.S3_SECRET_KEY_TEST }}
        SS_BUCKET_PREFIX: lucee-ldev-e-
        S3_CUSTOM_ACCESS_KEY_ID: "minioadmin"
        S3_CUSTOM_SECRET_KEY: "minioadmin"
        S3_CUSTOM_HOST: "localhost:9000"
